<section class="Content container mx-auto px-4 py-8">
  <div class="Section">
    <h1
      class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
      Arcjet bot protection example
    </h1>
    <p class="max-w-[700px] text-lg">
      This page is protected by
      <a
        class="hover:underline font-bold decoration-1 underline-offset-2"
        href="https://docs.arcjet.com/bot-protection/concepts"
        >Arcjet's bot protection</a
      >
      configured to block automated clients.
    </p>
  </div>

  <div class="Divider border-t border-border"></div>

  <div class="Section">
    <h2 class="text-xl font-bold">Try it</h2>
    <p class="text-secondary-foreground">
      Make a request using <code>curl</code>, which is considered an automated
      client:
    </p>
    <pre class="p-4">curl -v http://localhost:3000/bots/test</pre>
    <p class="text-secondary-foreground">
      Your IP will be blocked for 60 seconds.
    </p>
    <p class="max-w-[700px] text-secondary-foreground">
      Bot protection can also be installed in middleware to protect your entire
      site.
    </p>
  </div>

  <div class="Divider border-t border-border"></div>

  <div class="Section">
    <h2 class="text-xl font-bold">See the code</h2>
    <p class="text-secondary-foreground">
      The
      <a
        href="https://github.com/arcjet/example-js-node/blob/main/src/routes/bots.ts"
        target="_blank"
        rel="noreferrer"
        class="font-bold hover:underline decoration-1 underline-offset-2"
      >
        API route
      </a>
      imports a
      <a
        href="https://github.com/arcjet/example-js-node/blob/main/src/lib/arcjet.ts"
        target="_blank"
        rel="noreferrer"
        class="font-bold hover:underline decoration-1 underline-offset-2"
      >
        centralized Arcjet client
      </a>
      which sets base rules.
    </p>
  </div>

  <div class="Divider border-t border-border"></div>

  <%- include('partials/what-next', { deployed: siteKey != null }) %>
</section>
