<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to the Arcjet example app</p>
    <h2>Examples</h2>
    <ul>
        <li><a href="/signup">Signup form protection</a></li>
        <li><a href="/bots">Bot protection</a></li>
        <li><a href="/rate-limiting">Rate limiting</a></li>
        <li><a href="/attack">Attack protection</a></li>
        <li><a href="/sensitive-info">Sensitive Info</a></li>
    </ul>
</body>
</html>