<% if (user) { %>
<form action="/auth/signout" method="POST">
  <input type="hidden" name="callbackUrl" value="<%= currentUrl %>" />
  <input type="hidden" id="csrfToken" name="csrfToken" value="" />
  <button
    type="hidden"
    class="inline-flex items-center justify-center rounded-full text-md font-bold transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background border border-input hover:bg-accent hover:text-accent-foreground h-9 py-1 px-5"
  >
    Sign out
  </button>
</form>
<% } else { %>
<form action="/auth/signin/github" method="POST">
  <input type="hidden" name="callbackUrl" value="<%= currentUrl %>" />
  <input type="hidden" id="csrfToken" name="csrfToken" value="" />
  <button
    type="hidden"
    class="inline-flex items-center justify-center rounded-full text-md font-bold transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background border border-input hover:bg-accent hover:text-accent-foreground h-9 py-1 px-5"
  >
    Sign in
  </button>
</form>
<% } %>
<script>
  const csrfToken = fetch("/auth/csrf")
    .then((res) => res.json())
    .then((data) => {
      document.getElementById("csrfToken").value = data.csrfToken;
      document.querySelector("button").type = "submit";
    });
</script>
